body {
    font-size: 20px;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}

 a {
    text-decoration: none;
    color: black;
}

.search {
    width: 700px;
    height: 50px;
    border-radius: 20px;
}

.signup, .button{
    height: 50px;
    width: 70px;
    background-color: black;
    color: white;
}


.first-section {
    background-image: url(./images/background\ \(2\).jpg);
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
}

.first-section div {
    width: 250px;
    background-color: white;
    position: relative;
    top: 40px;
    left: 50px;
    padding: 20px;
}
.second-section{
    margin-left: 5%;
}
.second-section ul {
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: gray;
}
.third-section,.fourth-section{
    border: 1px solid rgb(213, 207, 207);
    margin-left: 4%;
    margin-right: 4%;

}
.third-section-career{
    font-size: 16px;
    width: 850px;
    margin-left: 2%;
    padding: 20px;
}
.third-section-career h4{
    font-size: 25px;
}
.third-section-career button, .btn{
    background-color: transparent;
    border: 1px solid black;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
}
.third-section-photos,.fourth-section,.fifth-section{
    display: flex;
    justify-content: space-around;
    margin-left: 2%;
    gap: 10px;
}
.photos{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    text-align: center; 
    width: 250px;
    
}
.photos button{
    height: 20px;
    width: 80px;
    background-color:rgb(221, 221, 73);
    border: 1px solid white;
    margin-left: 30%
}
.fourth-section {
border: none;
}
.students,h1,h2{
    margin-top: 7%;
    margin-left: 4%;
    font-size: 30px;
}
.sixth{
    background-color: rgb(245, 247, 249);
    
}
.sixth-section{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-left: 3%;
}
.subsection{
    display: flex;
    gap: 50px;
    padding: 20px;
}
.subsection li{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 3%;
    gap: 5px;
    font-size: 18px;
    align-items: center;
}
.subsection a{
    text-decoration: underline;
    color: blue;
}
.subsection span{
    color: grey;
}
.btn{
    margin-left: 3%;
    margin-bottom: 2%;
}
.seventh-section h1,h5{
    text-align: center;
}
.seventh-section img{
    margin: 5%;
}
.eighth{
    display: flex;
    gap: 50px;
}
.eighth-section{
    width: 500px;
    margin-left: 5%;
    padding: 30px;
}
.eighth-section img{
    width: 200px;
    margin-left: 15px;
}
.eighth-section h1{
    margin-top: 0;
}
.eighth-section li{
    list-style-type: inherit;
    padding: 10px;
}
.button{
    width: 200px;
    height: 50px;
}
.ninth{
    display: flex;
    gap: 50px;
}
.ninth-subsection{
    width: 400px;
    justify-content: center;
    margin-top: 7%;
}
.tenth-section{
    display: flex;
    justify-content: space-around;
    background-color: black;
}
.tenth-section a{
    color: white;
}
